<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg" style="background-color:  #3498DB;">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'img/theatre1.jpg' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li>
            {% if '/' == request.path %}
          <li class="nav-item active mr-3">
            {% else %}
          <li class="nav-item mr-3">
            {% endif %}
            <a class="nav-link" href="{% url 'index' %}"><b>Home</b></a>

          </li>
           <li>
            {% if 'about' in request.path %}
          <li class="nav-item active mr-3">
            {% else %}
          <li class="nav-item mr-3">
            {% endif %}

            <a class="nav-link" href="{% url 'about' %}"><b>About</b></a>

          </li>
           <li>
            {% if 'movies' in request.path %}
          <li class="nav-item active mr-3">
            {% else %}
          <li class="nav-item mr-3">
            {% endif %}

            <a class="nav-link" href="{% url 'listings' %}"><b>Movies</b></a>
          </li>
        </ul>
 </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li>
            {% if '' in request.path %}
              <li class="nav-item active mr-3">
            {% else %}
              <li class="nav-item mr-3">
            {% endif %}
              <a class="nav-link" href="{% url 'index' %}">
              <b> Welcome {{ user.username }} </b></a>
            </li>
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li>
            {% if 'register' in request.path %}
              <li class="nav-item active mr-3">
            {% else %}
              <li class="nav-item mr-3">
            {% endif %}
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> <b>Register</b></a>
            </li>
            <li>
              {% if 'login' in request.path %}
                <li class="nav-item active mr-3">
              {% else %}
                <li class="nav-item mr-3">
              {% endif %}
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fas fa-sign-in-alt"></i>

                  <b>Login</b></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>