<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Form</title>
</head>
<body>
<h1>Hello</h1>
<form action="POST">
  <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname" ><br>
  <label for="phone">Phone:</label><br>
  <input type="number" id="gold" name="gold" ><br><br>
     <label for="gold">Golden Seats:</label><br>
  <input type="number" id="silver" name="silver" ><br><br>
     <label for="silver">Silver Seats:</label><br>
  <input type="time" id="phone" name="phone" ><br><br>
     <label for="showt">Show Time:</label><br>
  <input type="time" id="showt" name="showt" ><br><br>
     <label for="showd">Phone:</label><br>
  <input type="date" id="showd" name="showd" ><br><br>
  <input type="submit" value="Book">
</form>
</body>
</html>